<div class="accordion-container">
    <div class="accordion-item">
        <div class="accordion-header" data-category="armaduras">
            <span>Armaduras</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="armaduras-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="armaduras">
                <i class="fas fa-plus"></i> Añadir Armadura
            </button>
        </div>
    </div>
    
    <div class="accordion-item">
        <div class="accordion-header" data-category="armas">
            <span>Armas</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="armas-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="armas">
                <i class="fas fa-plus"></i> Añadir Arma
            </button>
        </div>
    </div>
    
    <div class="accordion-item">
        <div class="accordion-header" data-category="municion">
            <span>Munición</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="municion-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="municion">
                <i class="fas fa-plus"></i> Añadir Munición
            </button>
        </div>
    </div>
    
    <div class="accordion-item">
        <div class="accordion-header" data-category="pociones">
            <span>Pociones</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="pociones-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="pociones">
                <i class="fas fa-plus"></i> Añadir Poción
            </button>
        </div>
    </div>
    
    <div class="accordion-item">
        <div class="accordion-header" data-category="pergaminos">
            <span>Pergaminos</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="pergaminos-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="pergaminos">
                <i class="fas fa-plus"></i> Añadir Pergamino
            </button>
        </div>
    </div>
    
    <div class="accordion-item">
        <div class="accordion-header" data-category="otros">
            <span>Otros</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="accordion-content" id="otros-content">
            <div class="accordion-list"></div>
            <button class="btn-small add-item-btn" data-category="otros">
                <i class="fas fa-plus"></i> Añadir Objeto
            </button>
        </div>
    </div>
</div>
