<div class="simple-resources">
    <div class="resource-item" id="monedas-resource">
        <i class="fas fa-coins"></i> <span id="monedas-value">0</span>
    </div>
    <div class="resource-item" id="ganzuas-resource">
        <i class="fas fa-key"></i> <span id="ganzuas-value">0</span>
    </div>
    <div class="resource-item" id="antorchas-resource">
        <i class="fas fa-fire"></i> <span id="antorchas-value">0</span>
    </div>
    <div class="resource-item" id="cuerdas-resource">
        <i class="fas fa-scroll"></i> <span id="cuerdas-value">0</span>
    </div>
</div>
