<div class="card">
    <h2>Atributos</h2>
    <div class="compact-form-group">
        <label for="combateCuerpo">Combate:</label>
        <input type="number" id="combateCuerpo" min="0" class="compact-input-small">
    </div>
    <div class="compact-form-group">
        <label for="combateDistancia">Puntería:</label>
        <input type="number" id="combateDistancia" min="0" class="compact-input-small">
    </div>
    <div class="compact-form-group">
        <label for="lanzamientoHechizos">Magia:</label>
        <input type="number" id="lanzamientoHechizos" min="0" class="compact-input-small">
    </div>
</div>
