<div class="card">
    <h2>Equipamiento</h2>
    <p class="icon-legend">
        <i class="fas fa-edit"></i> Editar | 
        <i class="fas fa-trash"></i> Desequipar
    </p>
    <div class="equipment-section">
        <h3>Equipados</h3>
        <div id="equippedItems" class="list-container">
            <!-- Los items equipados se cargarán aquí -->
        </div>
    </div>
    <div class="equipment-section">
        <h3>Desequipado</h3>
        <div id="unequippedItems" class="list-container">
            <!-- Los items desequipados se cargarán aquí -->
        </div>
    </div>
</div>
