<div class="card full-width">
    <h2>Grimorio</h2>
    <div class="table-container">
        <table class="grimorio-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dificultad</th>
                    <th>Distancia</th>
                    <th>Uso</th>
                    <th>Acción</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="grimorioList">
                <!-- Los hechizos se cargarán aquí dinámicamente -->
            </tbody>
        </table>
    </div>
    <button id="createSpellBtn" class="btn"><i class="fas fa-magic"></i> Crear Hechizo</button>
</div>
