<div class="card">
    <h2>Estado</h2>
    <div class="status-grid">
        <div class="form-group">
            <label for="vida" class="centered-label">Vida</label>
            <div class="status-control">
                <button class="btn-small decrease"><i class="fas fa-minus"></i></button>
                <input type="number" id="vida" min="0" class="compact-input-small">
                <button class="btn-small increase"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label for="aguante" class="centered-label">Aguante</label>
            <div class="status-control">
                <button class="btn-small decrease"><i class="fas fa-minus"></i></button>
                <input type="number" id="aguante" min="0" class="compact-input-small">
                <button class="btn-small increase"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label for="mana" class="centered-label">Maná</label>
            <div class="status-control">
                <button class="btn-small decrease"><i class="fas fa-minus"></i></button>
                <input type="number" id="mana" min="0" class="compact-input-small">
                <button class="btn-small increase"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
